$main-color : #d6a279;
$text-color : #333;
$text-color-2 :#212121;
$text-hform :#373737;
$heading-color : #333;
$main-menu-color: #212121;
$footer-bg:#212121;
$hover-color : $main-color;
$border-color : #e8e8e8;
$border-color2:#b5b5b5;
$main-bg :#f1f1f1;
$tab-color: #a4a4a4;
$facebook: #3b5998;
$twitter : #55acee;
$pinterest : #c71806;
$behance : #115efa;
$dribbble : #ec4a89;


$font-Montserrat :  'Montserrat';
$font-Raleway    :  'Raleway';
$font-Playfair   : 'Playfair Display';
$font-roboto: 'Roboto';

$font-size-base  :14px;
$font-size-lage  :18px;
$font-size-small :12px;

$font-family-base : $font-Montserrat;
$font-family-heading: $font-Montserrat;
$font-name-product  : $font-Playfair;
$font-title-main    : $font-Playfair;
